body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.canvas{
    padding-bottom: 20px;
}

.widget {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    /* text-align: center; */
}

h1 {
    font-size: 30px;
    /* margin-bottom: 10px; */
}

#status {
    font-size: 18px;
    color: #333;
}

.status-led {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 100PX;
    margin-bottom: -5px;
}

.loading {
    background-color: gray;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}
